*.iml
.gradle
/local.properties
.idea
/key.store
.DS_Store
build/
/captures
*_words_*.dict
*_words_dict_array.xml
*.apk
.classpath
.project
.settings/
bin/
.generated_pack_version

language-packs-apk/
add_ons_apks/
Private_Play_Store.txt

# signing keys (do not commit)
*.keystore
*.jks
diktor-release.keystorels -lt add_ons_apks/release/